.bold-weight {
  font-weight: 700;
}
.normal-weight {
  font-weight: 400;
}
.content-font {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.web-font {
  font-family: 'Asap', sans-serif;
}
.web-font-italic {
  font-family: 'Asap', sans-serif;
  font-style: italic;
}
.box-shadow-reset {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.text-shadow-reset {
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
}
.rounded-corners-reset {
  -ms-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -khtml-border-radius: 0px !important;
  border-radius: 0px !important;
}
.responsive-navbar-inner {
  font-size: 12px !important;
  width: 100% !important;
  margin: 0px !important;
  padding-left: 30px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
.responsive-tablet-slideshow .quetzal-slide {
  background-position: center center;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}
.responsive-tablet-slideshow .slide-title {
  position: relative;
  top: 20px;
  padding-left: 30px;
}
.responsive-tablet-slideshow .slide-description {
  margin-top: 30px;
  padding-left: 30px;
}
.responsive-tablet-slideshow .quetzal-slideshow-pager {
  width: 72px;
  right: 30px;
  left: auto;
  top: 25px;
}
.responsive-tablet-slideshow .quetzal-slideshow-pager a {
  margin-bottom: 15px;
}
