/* lte IE 9*/

#topnav .navbar-inner{
	filter:none;
}

.home-featured-news .other-featured article{
	margin-right: 4px;
}

.quetzal-carousel .video {
    filter: alpha(opacity = 80);
}

.quetzal-carousel .video:hover {
    filter: alpha(opacity = 100);
}